<div style="display: flex;justify-content: center;">
  <form style="border: 1px solid; border-color: blue;border-radius: 7px;padding: 50px ; width: 700  px;margin-top: 100px;margin-bottom: 100px;background: ghostwhite;" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="email" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control style="display: block;">
            <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>