<nz-descriptions nzTitle="Book Detail">
    <nz-descriptions-item nzTitle="Name">Zhou Maomao</nz-descriptions-item>
    <nz-descriptions-item nzTitle="ISBN">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Author">Hangzhou, Zhejiang</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Number Of Pages">Empty</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Publisher">
      No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Country">Empty</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Media Type">Empty</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Released">Empty</nz-descriptions-item>
  </nz-descriptions>