<div nz-row >
  <div nz-col nzSpan="6" nzOffset="18">
    <nz-input-group [nzSuffix]="suffixIconSearch" >
      <input type="text" nz-input [(ngModel)]="searchText" autocomplete="off" placeholder="input search text" />
    </nz-input-group>
  </div>
</div>
<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>
<br>
<nz-table #columnTable [nzLoading]="isLoading" [nzData]="characters" [nzScroll]="{ x: '2000px' , y: '380px'}">
    <thead>
      <tr>
        <th nzLeft>Name</th>
        <th >Gender</th>
        <th>Culture</th>
        <th>Born</th>
        <th>Died</th>
        <th>Titles</th>
        <th>Aliases</th>
        <th >Books</th>
        <th>POV Books</th>
        <th >TV Series</th>
        <th >Played By</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let data of characters |filter:searchText">
        <td nzLeft (click)="selectCharacter(data.url)"><a>{{ data.name }}</a></td>
        <td> {{ data.gender }}</td>
        <td>{{ data.culture }}</td>
        <td>{{ data.born }}</td>
        <td>{{ data.died }}</td>
        <td>{{ data.titles }}</td>
        <td>{{ data.aliases }}</td>
        <td >{{ data.books.length }}</td>
        <td>{{ data.povBooks.length }}</td>
        <td>{{ data.tvSeries }}</td>
        <td >{{ data.playedBy }}</td>
      </tr>
    </tbody>
  </nz-table>
  <!-- <ul nz-list [nzDataSource]="characters" nzBordered nzSize="small" >
    <li nz-list-item *ngFor="let item of characters | filter:searchText | paginate: config " nzNoFlex>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <a (click)="msg.info('edit')">edit</a>
        </nz-list-item-action>
      </ul>
      {{ item.name }}
    </li>
    <nz-pagination [nzPageIndex]="5" [nzTotal]="characters.length" [nzPageSize]="30"></nz-pagination>
  </ul> -->

