<div nz-row >
  <div nz-col nzSpan="6" nzOffset="18">
    <nz-input-group [nzSuffix]="suffixIconSearch" >
      <input type="text" nz-input [(ngModel)]="searchText" autocomplete="off" placeholder="input search text" />
    </nz-input-group>
  </div>
</div>
<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>
<br>
<nz-table #fixedTable [nzLoading]="isLoading" [nzData]="characters" [nzScroll]="{y: '380px'}">
    <thead>
      <tr>
        <th >Name</th>
        <th >Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let data of fixedTable.data |filter:searchText">
        <td (click)="selectCharacter(data.url)"><a>{{ data.name }}</a></td>
        <td> {{ data.gender }}</td>
      </tr>
    </tbody>
  </nz-table>

