<nz-layout class="layout" >
    <nz-header *ngIf="isLogged()">
      <div >
        <a routerLink="/books">
        <img class="logo" src="../assets/image/logo.jpeg">
      </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item style="margin-left: 969px;">
          <button nz-button nzType="default" (click)="logout()">Logout</button>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <!-- <nz-breadcrumb *ngIf="isLogged()"> -->
    
      <!-- </nz-breadcrumb> -->
      <div class="inner-content" style="background-color: rgba(243, 242, 242, 0.931);">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>