.layout {
    min-height: 100vh;
  }

  .logo {
    width: 75px;
    height: 32px;
    background: #fff;
    margin: 20px 24px 20px 30px;
    float: left;
  }

   nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-content {
    padding: 0 50px;
    margin-top: 64px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    background: rgba(243, 242, 242, 0.931);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex: 1;
  }

  nz-footer {
    text-align: center;
  }

  button {
    margin-left: 800px;
  }