<nz-layout class="layout" >
    <nz-header *ngIf="isLogged()">
      <div>
        <a routerLink="/books">
        <img class="logo" src="../assets/image/logo.jpeg">
      </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="/books">BOOKS</li>
        <li nz-menu-item routerLink="/houses">HOUSE</li>
        <li nz-menu-item >
          <button nz-button  nzType="default" (click)="logout()">Logout</button>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>