<nz-layout class="layout" >
    <nz-header *ngIf="isLogged()">
      <div style="margin-left: 20px;">
        <a routerLink="/books">
        <img class="logo" src="../assets/image/logo.jpeg">
      </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="/books">BOOKS</li>
        <li nz-menu-item routerLink="/houses">HOUSE</li>
        <li nz-menu-item style="margin-left: 800px;">
          <button nz-button nzType="default" (click)="logout()">Logout</button>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="background-color: rgba(243, 242, 242, 0.931);">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>