<p>character-detail works!</p>
<h1 style="color: blue;">CHARACTER DETAIL</h1>
<nz-descriptions>
    <nz-descriptions-item nzTitle="Name">{{character?.name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Gender">{{character?.gender}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Culture">{{character?.culture}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Born date">{{character?.born}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Died date">{{character?.died}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tiltes">{{character?.titles}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Aliases">{{character?.aliases}}</nz-descriptions-item>
  </nz-descriptions>