<h1 style="color:rgb(4, 4, 39);font-size:35px;font-weight: 600;">CHARACTER DETAIL</h1>
<nz-descriptions>
    <nz-descriptions-item nzTitle="Name">{{character?.name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Gender">{{character?.gender}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Culture">{{character?.culture}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Born date">{{character?.born}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Died date">{{character?.died}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tiltes">{{character?.titles}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Aliases">{{character?.aliases}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Played By">{{character?.playedBy}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="TV Series">{{character?.tvSeries}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-collapse nzAccordion nzBordered="false">
    <nz-collapse-panel nzHeader="House Of Character" nzActive="false">
      <nz-list nzBordered >
        <nz-list-item *ngFor="let item of houses">
          <span nz-typography><mark>{{item.name}}</mark></span>
          <h4>{{ item.region }}</h4>
        </nz-list-item>
      </nz-list>
    </nz-collapse-panel>
  </nz-collapse>
  <br>
  <nz-collapse nzAccordion nzBordered="false">
    <nz-collapse-panel nzHeader="Books Of Character" nzActive="false">
      <app-book [listBookUrls]="character.books"></app-book>
    </nz-collapse-panel>
  </nz-collapse>
  