<h1 style="color:rgb(4, 4, 39);font-size:35px;font-weight: 600;">CHARACTER DETAIL</h1>
<nz-descriptions>
    <nz-descriptions-item nzTitle="Name">{{character?.name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Gender">{{character?.gender}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Culture">{{character?.culture}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Born date">{{character?.born}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Died date">{{character?.died}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tiltes">{{character?.titles}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Aliases">{{character?.aliases}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Played By">{{character?.playedBy}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="TV Series">{{character?.tvSeries}}</nz-descriptions-item>
  </nz-descriptions>
  <nz-collapse nzAccordion nzBordered="false">
    <nz-collapse-panel nzHeader="Houses Of Character" nzActive="false">
      <div *ngIf="character?.allegiances.length > 0; else empty">
      <app-house [listHouseUrls]="character?.allegiances"></app-house>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <br>
  <nz-collapse nzAccordion nzBordered="false">
    <nz-collapse-panel nzHeader="Books Of Character" nzActive="false">
      <div *ngIf="character?.books.length > 0; else empty">
        <app-book [listBookUrls]="character?.books"></app-book>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <br>
  <nz-collapse nzAccordion nzBordered="false">
    <nz-collapse-panel nzHeader="POVBooks Of Character" nzActive="false">
      <div *ngIf="character?.povBooks.length > 0; else empty">
        <app-book [listBookUrls]="character?.povBooks"></app-book>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <ng-template #empty>
    <i nz-icon nzType="warning" nzTheme="outline" ></i>
  </ng-template>